### ğŸ¯ Î•ÏÏÏ„Î·Î¼Î± 1: Î£Ï‡Î¿Î»ÎµÎ¯Î± Î¼Îµ Ï„Î¹Ï‚ ÎºÎ±Î»ÏÏ„ÎµÏÎµÏ‚ ÎµÏ€Î¹Î´ÏŒÏƒÎµÎ¹Ï‚ ÏƒÏ„Î± ÎœÎ±Î¸Î·Î¼Î±Ï„Î¹ÎºÎ¬
Î£Îµ Î±Ï…Ï„ÏŒ Ï„Î¿ ÎºÎµÎ»Î¯, ÎµÎ½Ï„Î¿Ï€Î¯Î¶Î¿Ï…Î¼Îµ ÏƒÏ‡Î¿Î»ÎµÎ¯Î± ÏŒÏ€Î¿Ï… Î¿ Î¼Î­ÏƒÎ¿Ï‚ ÏŒÏÎ¿Ï‚ ÏƒÏ„Î¿ SAT Math ÎµÎ¯Î½Î±Î¹ Ï„Î¿Ï…Î»Î¬Ï‡Î¹ÏƒÏ„Î¿Î½ 640 (80% Ï„Î¿Ï… Î¼Î­Î³Î¹ÏƒÏ„Î¿Ï… ÏƒÎºÎ¿Ï Ï„Ï‰Î½ 800). Î‘Ï€Î¿Î¸Î·ÎºÎµÏÎ¿Ï…Î¼Îµ Ï„Î± Î±Ï€Î¿Ï„ÎµÎ»Î­ÏƒÎ¼Î±Ï„Î± ÏƒÏ„Î¿ DataFrame `best_math_schools`, Ï„Î±Î¾Î¹Î½Î¿Î¼Î·Î¼Î­Î½Î± ÎºÎ±Ï„Î¬ Ï†Î¸Î¯Î½Î¿Ï…ÏƒÎ± ÏƒÎµÎ¹ÏÎ¬ Ï„Î¿Ï… `average_math`.

In [1]:
# Re-run this cell 
import pandas as pd

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head()

# Start coding here...
# Add as many cells as you like...

                                         school_name  ... percent_tested
0  New Explorations into Science, Technology and ...  ...            NaN
1                               Essex Street Academy  ...           78.9
2                       Lower Manhattan Arts Academy  ...           65.1
3    High School for Dual Language and Asian Studies  ...           95.9
4      Henry Street School for International Studies  ...           59.7

[5 rows x 7 columns]

### ğŸ† Î•ÏÏÏ„Î·Î¼Î± 2: Top 10 Î£Ï‡Î¿Î»ÎµÎ¯Î± Î²Î¬ÏƒÎµÎ¹ ÏƒÏ…Î½Î¿Î»Î¹ÎºÎ¿Ï SAT
Î¥Ï€Î¿Î»Î¿Î³Î¯Î¶Î¿Ï…Î¼Îµ Ï„Î¿ ÏƒÏ…Î½Î¿Î»Î¹ÎºÏŒ SAT ÏƒÎºÎ¿Ï (`total_SAT`) Ï€ÏÎ¿ÏƒÎ¸Î­Ï„Î¿Î½Ï„Î±Ï‚ Ï„Î± ÏƒÎºÎ¿Ï ÏƒÏ„Î± Î¼Î±Î¸Î·Î¼Î±Ï„Î¹ÎºÎ¬, Î±Î½Î¬Î³Î½Ï‰ÏƒÎ· ÎºÎ±Î¹ Î³ÏÎ±Ï†Î®. ÎšÎ±Ï„Î±Ï„Î¬ÏƒÏƒÎ¿Ï…Î¼Îµ Ï„Î± ÏƒÏ‡Î¿Î»ÎµÎ¯Î± ÎºÎ±Ï„Î¬ Ï†Î¸Î¯Î½Î¿Ï…ÏƒÎ± ÏƒÎµÎ¹ÏÎ¬ ÎºÎ±Î¹ Î±Ï€Î¿Î¸Î·ÎºÎµÏÎ¿Ï…Î¼Îµ Ï„Î± 10 Ï€ÏÏÏ„Î± ÏƒÎµ Î­Î½Î± DataFrame `top_10_schools`.

In [2]:
schools_filtered = schools.loc[:, ['school_name', 'average_math']]

### ğŸ“Š Î•ÏÏÏ„Î·Î¼Î± 3: Borough Î¼Îµ Ï„Î· Î¼ÎµÎ³Î±Î»ÏÏ„ÎµÏÎ· Ï„Ï…Ï€Î¹ÎºÎ® Î±Ï€ÏŒÎºÎ»Î¹ÏƒÎ· ÏƒÏ„Î¿ ÏƒÏ…Î½Î¿Î»Î¹ÎºÏŒ SAT
ÎŸÎ¼Î±Î´Î¿Ï€Î¿Î¹Î¿ÏÎ¼Îµ Ï„Î± ÏƒÏ‡Î¿Î»ÎµÎ¯Î± Î±Î½Î¬ `borough` ÎºÎ±Î¹ Ï…Ï€Î¿Î»Î¿Î³Î¯Î¶Î¿Ï…Î¼Îµ Î³Î¹Î± ÎºÎ¬Î¸Îµ Î¼Î¯Î±:
- Î¤Î¿Î½ Î±ÏÎ¹Î¸Î¼ÏŒ ÏƒÏ‡Î¿Î»ÎµÎ¯Ï‰Î½ (`num_schools`)
- Î¤Î¿Î½ Î¼Î­ÏƒÎ¿ ÏŒÏÎ¿ Ï„Î¿Ï… `total_SAT` (`average_SAT`)
- Î¤Î·Î½ Ï„Ï…Ï€Î¹ÎºÎ® Î±Ï€ÏŒÎºÎ»Î¹ÏƒÎ· Ï„Î¿Ï… `total_SAT` (`std_SAT`)
Î•Î½Ï„Î¿Ï€Î¯Î¶Î¿Ï…Î¼Îµ Ï„Î¿ borough Î¼Îµ Ï„Î· Î¼ÎµÎ³Î±Î»ÏÏ„ÎµÏÎ· `std_SAT` ÎºÎ±Î¹ Î±Ï€Î¿Î¸Î·ÎºÎµÏÎ¿Ï…Î¼Îµ Ï„Î± Î±Ï€Î¿Ï„ÎµÎ»Î­ÏƒÎ¼Î±Ï„Î± ÏƒÏ„Î¿ DataFrame `largest_std_dev`.
ÎŒÎ»ÎµÏ‚ Î¿Î¹ Î±ÏÎ¹Î¸Î¼Î·Ï„Î¹ÎºÎ­Ï‚ Ï„Î¹Î¼Î­Ï‚ ÏƒÏ„ÏÎ¿Î³Î³Ï…Î»Î¿Ï€Î¿Î¹Î¿ÏÎ½Ï„Î±Î¹ ÏƒÎµ 2 Î´ÎµÎºÎ±Î´Î¹ÎºÎ¬ ÏˆÎ·Ï†Î¯Î±.

In [3]:
best_math_schools=schools_filtered[schools_filtered['average_math']>=0.8*800].sort_values('average_math',ascending=False)

best_math_schools.head()

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683